{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h1>Topics</h1>
        <div id="search">
            <form action="{% url 'learning_logs:search_topics' %}">
                <input type="text" name="q" placeholder="Search topic..." class="form-control"
                value="{% if q %}{{ q }}{% endif %}">
            </form>
        </div>
        <a href="{% url 'learning_logs:new_topic' %}"
           class="btn btn-success">Add new topic</a>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="d-flex flex-wrap justify-content-center pt-4">
        {% for topic in topics %}
            <a href="{% url 'learning_logs:topic' topic.id %}">
                <div class="card m-4">
                    <img class="card-img-top img-fluid"
                         src="{{ topic.image.url }}" alt="{{ topic }}">
                    <div class="card-body">
                        <h3 class="text-center">{{ topic }}</h3>
                    </div>
                    <a href="{% url 'learning_logs:edit_topic' topic.id %}"
                       class="btn btn-warning btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="javascript:;" data-deletelink
                       data-id="{{ topic.id }}"
                       data-text="тему {{ topic.text }}"
                       data-url="{% url 'learning_logs:delete_topic' topic.id  %}"
                       data-src="#delete_message_window"
                       class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></a>
                </div>
            </a>
        {% empty %}
            <h3 class="text-center">No topics have been added yet.</h3>
        {% endfor %}
    </div>

    {% include "learning_logs/delete_message_window.html" %}

{% endblock content %}


{% block script %}
    <script src="{% static 'learning_logs/js/search.js' %}"></script>
{% endblock script %}
