{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <div class="d-flex justify-content-between align-content-center">
        <h3>{{ topic }}</h3>
        <h3>
            <a href="{% url 'learning_logs:new_entry' topic.id %}"
               class="btn btn-success">Add new entry</a>
        </h3>
    </div>
{% endblock page_header %}


{% block content %}
    <div class="d-flex flex-wrap justify-content-around pt-4">
        {% for entry in entries %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-content-center">
                    <h4>{{ entry.date_added|date:'M d, Y H:i' }}</h4>

                    <div>
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}"
                           class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>

                        <a href="{% url 'learning_logs:delete_entry' entry.id %}"
                           class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <img src="{{ entry.image.url }}" class="img-fluid">
                <div class="card-body">
                    {{ entry|linebreaks }}
                </div>
                <a href="{% url 'learning_logs:read_entry' entry.id %}"
                           class="btn btn-success mx-4 mb-4">read</a>
            </div>
        {% empty %}
            <p>There are no entries for this topic yet.</p>
        {% endfor %}
    </div>
{% endblock content %}
